<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">DNL Exam</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="http://dotnet.live/">Home</a></li>
                <li><a href="http://forums.dotnet.live/">Forums</a></li>
                <li><a href="http://blog.dotnet.live/">Blog</a></li>
                <li><a href="http://career.dotnet.live/">Career</a></li>
                <li><a href="http://exam.dotnet.live/">Exam</a></li>
                <li><a asp-area="ReactAdmin" asp-controller="Home" asp-action="Index">ReactAdmin</a></li>
            </ul>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>
</nav>