body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
img,
u,
i {
    list-style: none;
    padding: 0;
    margin: 0;
}

overlay {
    background: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
}

html,
body {
    width: 100%;
    height: 100%;
}

* {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ccd
}

::-webkit-scrollbar-thumb:active {
    background-color: #cce
}

body {
    font-family: 'Microsoft Yahei';
    background: url(../image/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}